@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #quote-document, #quote-document * {
    visibility: visible;
  }
  #quote-document {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .print\:hidden {
    display: none !important;
  }
}
